body {
    background-image: url(./images/vin.png)
}

h1 {
    font-size: 30px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding:20px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid lightgrey;
    padding: 0;
    font-size: 24px;
}

.bg-light {
    height: 76px;
}
